
  

  .intro img {
    margin: 0 auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
@media (min-width: 768px)
{
.col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
}
.intro h2 {
    font-weight: 700;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.text-center {
    text-align: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
div {
    display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width: 991px) and (min-width: 676px)
{
.service {
    width: 100%;
    margin-bottom: 20px;
    padding: 40px;
}
}
.service {
    min-height: 292px;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 6px 22px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 6px 22px 6px rgba(0, 0, 0, 0.08);
    background-color: transparent;
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
    border-radius: 1%;
    height: 96%;
}
    @media (max-width: 768px)
    {
.rowAbout {
    width: 90%;
    flex-direction: column;
  
}
    }
.rowAbout {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    display: flex;
    
}
@media (min-width: 992px)
{
.container {
    width: 90%;
    
}
}
img{
max-width: 100%;
height: auto;
}
    
