.homeTransition-appear{
    opacity: 0;
  }
  
  .homeTransition-appear.homeTransition-appear-active{
    opacity: 1;
    transition: all .4s ease-in-out;
    color:'white';
  }
  .btn-request-demo{
    display: inline-block;
    box-shadow: 0 5px 20px rgba(0,0,0,0.18);
    padding: 20px 22px 18px;
    border-color: #3d4250;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  a:-webkit-any-link {text-decoration: none}
  .home-banner {
    color:'white';
    padding: 30px;
    background: #6c63df  center center;
    background-size: 100% auto;
    text-align: center;
    margin-top: 3em;
    min-height: 550px;
    display: table;
}
.home-banner__content {
    padding: 0 5%;
    display: table-cell;
    vertical-align: middle;
}
.home-banner__desc {
    max-width: 564px;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    font-weight: normal;
    line-height: 42px;
}
.home-banner__title {
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    color:'white'
}
.home-banner__title{
    color:'white'
}
h1, .h1 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 600!important;

}
h2, .h2 {
    font-size: 30px;
    line-height: 40px;
}

.ftco-section {
    padding: 7em 2.4em;
    position: relative;
}
.bg-primary {
    background: #6c63ff !important;
}
@media (min-width: 992px)
{
/* .container {
    max-width: 960px;
} */
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
    align-self: stretch !important;
}
@media (min-width: 768px)
{
.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
.d-block {
    display: block !important;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.services .icon {
    line-height: 1.3;
    position: relative;
}
.services .icon span {
    font-size: 60px;
    color: #fff;
}
.flaticon-resume:before {
    content: "\f100";
}
.services .media-body {
    color: rgba(255, 255, 255, 0.7) !important;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
services .media-body h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
block-6 .media-body p {
    font-size: 16px;
}
.flaticon-collaboration:before {
    content: "\f102";
}
.flaticon-promotions:before {
    content: "\f103";
}
.flaticon-employee:before {
    content: "\f101";
}
@media (min-width: 992px)
{
.sectionContainer {
    max-width: 960px;
}
}
@media (min-width: 768px)
{
.sectionContainer {
    max-width: 720px;
}
}
@media (min-width: 576px)
{
.sectionContainer {
    max-width: 540px;
}
}
.sectionContainer {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 7em;
}
@media (min-width: 768px)
{
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.browse-job {
    background: #fff;
    position: relative;
    z-index: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
h3.heading.mb-3{
   color:white !important 
}
.p-5 {
    padding: 2rem !important;
}
.browse-job .icon {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 200px;
    line-height: 1;
    z-index: -1;
    color: #e9e8ff;
}
.browse-job .subheading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #6c63ff;
    letter-spacing: 1px;
}
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    width:100vw;
    font-weight: 400;
    color: #999999;
}
.wrapper_header {
    background: #fff !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: top .3s;
}