@media (max-width: 1199.98px)
{
.hero-wrap.hero-wrap-2 {
    background-position: top center !important;
    
}
}
.hero-wrap.hero-wrap-2 {
    height: 50vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
}
@media (min-width: 992px)
{
.col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}


.p-4 {
    padding: 1.5rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h3, .h3 {
    font-size: 1.75rem;
}
.pl-5, .px-5 {
    padding-left: 3rem !important;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.bg-light {
    background: #f8f9fa !important;
}
.salary{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.Dropdown-root{
    width: 220px;
    line-height: 50px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    height: 52px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    padding: 0 9px;
    margin-left: 10px;
    z-index: 1;
    color: black;
}
.arrow-closed, .arrow-open {
    border: solid #999;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 20px;
  }
  .Dropdown-placeholder {
text-align: center;
  }
  .arrow-closed {
    top: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .arrow-open {
    top: 14px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
  }
  .Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;

    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 24%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }
  .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }

  .Dropdown-option:hover {
    background-color: #f2f9fc;
    color: #333;
  }
  
  .Dropdown-option.is-selected {
    background-color:skyblue;
    color: #333;
  }
  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
  }  
  
  .MuiTypography-root MuiTypography-h5{
margin-top: 25%;
font-weight: 700;
  }
  .MuiTypography-body1 {
 color: #777d7d
  }
  .formWrapper{
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-top:4rem;
    padding: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 550px;
    width:100%;
    align-self: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
  }
  .paymentWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;

  }
  .form-control{
    display: block;
    width: 66%;
    margin-right: 9px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-label{
      width:33%;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    margin-left: calc(0.375rem + 1px);
  }
  .arrow-closed-pay{
  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #999;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
  
  }
   
  .arrow-open-pay {
    
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border: solid #999;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
   
  }
  .form-container{
display: flex;
padding: 4px;
  }