@media (max-width: 1199.98px)
{
.hero-wrap.hero-wrap-2 {
    background-position: top center !important;
}
}
.hero-wrap.hero-wrap-2 {
    height: 600px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
}
@media (min-width: 992px)
{
.col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}


.p-4 {
    padding: 1.5rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h3, .h3 {
    font-size: 1.75rem;
}
.pl-5, .px-5 {
    padding-left: 3rem !important;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.bg-light {
    background: #f8f9fa !important;
}
.salary{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.Dropdown-root{
    width: 220px;
    line-height: 50px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    height: 52px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    padding: 0 9px;
    margin-left: 10px;
    z-index: 1;
    color: black;
}
.arrow-closed, .arrow-open {
    border: solid #999;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 20px;
  }
  
  .arrow-closed {
    top: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .arrow-open {
    top: 14px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
  }
  