.loginButton{
    align-self:center;
    margin: 10px;
}
.buttonWrapper{
display: flex;
justify-content: space-around;
flex-direction: column;
height: 100%;
}
.loginWrapper{
 display: inline-block;   
 text-align: center;
 color: rgba(0, 0, 0, 0.87);
 transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 background-color: #fff;
 color: black;
 margin-top: 50%;
 /* margin-left: 50%; */
 margin-left: 17%;
 width: 30%;
 height: 20rem;
 box-shadow: 1px 1px 8px -1px rgba(138,120,138,.45)!important;
 display: flex;
 min-width: 240px;
 flex-direction: column;
}
.wrapper{
    width: 100vw;
height: 100vh;
}
@media (max-width: 700.98px)
{
.cardWrapper{
    flex-direction: column;
    height: 80vh;
    
}
.buttonWrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}
.card{
    width: 50% !important;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
}
@media print{
    width:100vw;
    height: 50vh;
}