.worksTransition-appear{
    opacity: 0;
    transform: translateX(-100px);
  }
  
  .worksTransition-appear.worksTransition-appear-active{
    opacity: 1;
    transform: translateX(0px);
    transition: all .4s ease-in-out;
  }

.hero-wrap.hero-wrap-2 .slider-text {
    height: 600px !important;
}
.hero-wrap .slider-text {
    height: 750px;
    z-index: 0;
    overflow: hidden;
}
.align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
.justify-content-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
@media (min-width: 768px)
{
.text-md-left {
    text-align: left !important;
}
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
@media (min-width: 768px)
{
.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}
hero-wrap .slider-text p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.slider-text .breadcrumbs {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    text-transform: uppercase;
    font-weight: 700 !important;
    letter-spacing: 2px;
}
.hero-wrap .slider-text h1 {
    font-size: 60px;
    color: #000000;
    line-height: 1.2;
    font-weight: 900;
}
.slider-text .bread {
    font-weight: 900;
    color: #000000 !important;
}
.hero-wrap.hero-wrap-2 {
    height: 600px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
}
.slider-text .breadcrumbs span {
    color: rgba(0, 0, 0, 0.7);
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
@media (min-width: 768px)
{
.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
h3, .h3 {
    font-size: 1.75rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@media (min-width: 768px)
{
.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (min-width: 768px)
{
.order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
}
}
@media (min-width: 768px)
{
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.contact-section .contact-form {
    width: 100%;
}
label {
    cursor: default;
    color: #000000;
    width: 33%;
  }
.p-5 {
    padding: 3rem !important;
}
.bg-white {
    background-color: #fff !important;
}
.form-group {
    margin-bottom: 1rem;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
textarea {
    overflow: auto;
    resize: vertical;
}
textarea.form-control {
    height: inherit !important;
}
.btn.btn-primary {
    background: #6c63ff !important;
    border: 1px solid #6c63ff !important;
    color: #fff !important;
}
.pl-5, .px-5 {
    padding-left: 3rem !important;
}
.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}